footer{
  padding: 60px 0 20px;
  background-color: $greenbase;
  color:$white;
  @media (max-width: 500px){
    padding: 20px 0;
  }
  .subscribeNewsletter{
    margin-bottom: 6rem;
    @media(max-width:767px){
      margin-bottom: 4rem;
    }
    h2{
     font-size: 3.5rem;
     @media(max-width:1199px){
      font-size:3rem;
     }
     @media(max-width:991px){
      font-size:2.2rem;
     }
     @media(max-width:767px){
      font-size:2.4rem;
      margin-bottom:2rem;
      text-align:center;
     }
    }
    form{
      .input-group{
        background-color:$white;
        position: relative;
        padding:18px;
        border-radius:6px;
        @media(max-width:767px){
          padding:14px;
        }
        input[type="email"]{
          width:100%;
          border:none;
          outline: none;
          background:none;
          padding-right:50px;
        }
        .btn_wrap{
          position: absolute;
          width: 50px;
          height: 45px;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          border-radius: 6px;
          background-color: $darkBase;
          transition:all 0.2s ease-in-out;
          @media(max-width: 767px){
            height:40px;
            right:7px;
          }
          &:hover{
            background-color:$base;
          }
          input[type="submit"]{
           border:none;
           width:100%;
           height: 100%;
           border:none;
           background:none;
           cursor: pointer;
          }
          &::after{
            content:'';
            background:url('../img/send.png') no-repeat center;
            width:21px;
            height: 21px;
            position: absolute;
            top:53%;
            left:50%;
            transform: translate(-50%,-50%);
            z-index:-1;
          }
        }
      }
    }
  }
  .footer_logo{
    margin-bottom:1.3rem;
  }
  h5 {
      color: $white;
      margin: 10px 0 25px;
      font-size: 18px;
      font-size: 16px;
      text-align: left;
      @media (max-width: 575px){
        margin: 15px 0 10px 0;
      }
    }
  p{
    font-size: 15px;
    line-height: 1.5;
    @media(min-width: 524px){
      text-align: left;
    }
  }
   ul{
    text-align: left;
    padding: 0;
    li {
      margin-bottom: 10px;
      display: flex;
      span.IconWrap{
        margin-right: 10px;
        img{
          width: 15px;
          height: auto;
        }
      }
      span.ContentWrap{
        font-size:15px;
      }
      a {
        transition: all 0.3s ease-in-out;
        display: inline-block;
        position: relative;
        color: $white;
        font-family: $primaryFont;
        font-size: 15px;
        &:hover{
          text-decoration:underline;
          }
          i{
            font-size: 1.1rem;
          }
        }
      }
    }
    .contacts{
      li{
        p{
          color: $white;
          margin-bottom: 0;
        }
        &:last-child{
          margin-top: 3rem;
          @media(max-width: 767px){
            margin-top: 10px;
          }
        }
      }
    }
    .FooterHeadingWithBorder{
      position: relative;
      padding-bottom: 2rem;
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid $white;
        width: 30px;
      }
    }
} 

/*form{
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  
  button{
    padding: 15px;
    display: flex;
    border-radius: 0 50px 50px 0;
    border: none;
    min-width: 60px;
    background-color: $base;
    border-top: thin solid $white;
    border-right: thin solid $white;
    border-bottom: thin solid $white;
    border-color: rgba($white, 0.3);
    cursor: pointer;
    font-family: $secondaryFont;
    transition: 0.2s ease-in-out;
    &:hover{
        opacity: 0.6;
    }
  }
  @media(min-width: 501px){
    margin-top: 0;
  }
  @media(min-width: 1024px){
    margin-top: 0;
  }
  @media(min-width: 1100px){
    margin-top: 0;
  }
}*/


/*footer{
  ul{
    &.links{
      li{
        a{
          &:hover{
            transform: translate(5px, 0);
            &:after{
              opacity: 1;
              color: $white;
            }
          }
          &:after{
            font-family: 'ElegantIcons';
            content: "\24";
            position: absolute;
            margin-left: 5px;
            top: 1px;
            opacity: 0;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
} */


/*footer{
  ul{
    &.contacts{
      li{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 7px;
        @media(min-width: 524px){
          justify-content: space-between;
        }
          .IconWrap{
            width: 8%;
            text-align: left;
            @media(min-width: 524px){
              width: 12%;
            }
            i{
              font-size: 1.3rem;
            }
            img{
              vertical-align: -webkit-baseline-middle;
            }
          }
          .ContentWrap{
            width: 85%;
            a{
              font-style: 1rem;
            }
            p{
              margin-bottom: 0;
              font-style: 1rem;
              text-align: left;
            }
          }
      }
    }
  }
}*/


footer hr {
  opacity: 0.5;
}

footer{
  .FooterBottom{
    border-top: 1px solid rgba(255, 255, 255, 0.36);
    padding-top: 20px;
    margin-top: 5px;
  }
}

footer{
  #copy{
    text-align: right;
    font-size: 13px;
    font-size: 0.8125rem;
    opacity: 0.7;
    @media (max-width: 767px){
      text-align: left;
      margin: 5px 0 20px 0;
    }
  }
}

.follow_us {
  margin-top: 20px;
  margin-bottom: 10px;
  animation-delay: 1.1s;
  h5{
    color: $white;
  }
  ul.SocialIcons{
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    li{
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 16px !important;
      font-weight: 500;
      color: $white;
      margin-right: 8px;
      &:last-child{
        margin-right: 0px;
      }
      a{
        color: $white;
        display: flex;
        padding: 5px;
        align-items: center;
        justify-content: center;
        border: thin solid $white;
        border-radius: 50px;
        transition: 0.2s ease-in-out;
        @media(min-width: 1200px){
          padding: 6px;
        }
        svg{
          width: 15px;
          height: 15px;
          fill: $white;
          transition: transform 0.2s ease-in-out;
        }
        &:hover{
          svg{
            fill: $white;
            transform:scale(1.1);
          }
        }
      }
    }
  }
}


ul#footer-selector {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
  @media(min-width: 524px){
    text-align: left;
  }
}
ul#footer-selector li {
  font-size: 14px;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  opacity:0.7;
  font-family: $primaryFont;
  @media(min-width: 480px){
    justify-content: flex-start;
  }
  @media(min-width: 768px){
    justify-content: flex-start;
  }
  @media(min-width: 1024px){
    justify-content: flex-start;
  }
  @media(min-width: 1300px){
    justify-content: flex-start;
  }
}


/* Addtional links Footer */
ul{
  &#additional_links{
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 13px;
    font-size: 0.8125rem;
    float: right;
    @media (max-width: 991px){
      float: none;
      margin-top: 10px;
    }
    li{
      display: inline-block;
      margin-right: 0;
      span{
        color: $white;
        opacity: 0.7;
      }
      a{
        color: rgba($white, 0.5);
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        strong{
          color: $white;
        }
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}



