.backgroundImageRightContent{
	.backgroundImage-col{
		position: relative;
		z-index: 8;
		@media(max-width: 767px){
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
		.Content{
			padding-right: 15px;
			max-width: 100%;
			position: relative;
			text-align: center;
			padding-bottom: 20px;
			@media(min-width: 768px){
				padding-bottom: 0;
				position: absolute;
				left: 38%;
				top: 50%;
				transform: translateY(-50%);
				max-width: 60%;
				text-align: left;
			}
			@media(min-width: 991px){
				padding-bottom: 0;
				position: absolute;
				left: 35%;
				top: 50%;
				transform: translateY(-50%);
				max-width: 70%;
				text-align: left;
			}
			@media(min-width: 992px){
				max-width: 43%;
				left: 51%;
			}
			@media(max-width: 767px){
				h2{
					font-size: 2rem;
				}
				p{
					font-size: 1.4rem;
				}
			}
		}
	}
	.backgroundImage{
		// background-image: url(../img/tempimg/background-image3.png);
		// background-repeat: no-repeat;
	}
}

.BG50per{
	position: relative;
	&:before{
		content: '';
		background-color: $greySection;
		width: 100%;
		height: 50%;
		position: absolute;
		top: 0;
		z-index: 5;
		@media(max-width: 767px){
			height: 85%;
		}
	}
}