.HomeBanner{
	.bannerSlider{
        .bannerImage {
            img {
                width: 100%;
                @media(max-width: 767px) {
                    min-height: 330px;
                    object-fit: cover;
                }
            }
        }
        .bannerWrapper {
            position: relative;
            .bannerDetailWrapper{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .bannerDetails {
                    h1 {
                        font-size: 4.5rem;
                        margin-bottom: 4rem;
                        @media(max-width:1200px){
                            font-size:3.5rem;
                        }
                        @media(max-width:991px){
                            font-size:2.7rem;
                        }
                    }
                   
                }
            }   
        }
    }
}

.PageBannerSection{
	position: relative;
    .BannerOverlay{/*
        background: linear-gradient(90deg, rgba(26, 181, 135, 0.65),
            rgba(68, 166, 240, 0.4));*/
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
	.BannerTextConainer{
		position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        right: 0;
        margin: 0 auto;
        transform: translate(-50%, -50%);
	    text-align: left;
	    padding: 2.5rem 0;
	    .BannerText{
	    	color: $white;
            h1 {
                @media(max-width:991px){
                    font-size:2.7rem;
                }
            }
	    }
	    .linkColor{
	    	color: $white;
	    	&:hover{
	    		color: $yellow;
	    	}
	    }
	}
}