.banner {
     .bannerSlider{
        .bannerImage {
            img {
                width: 100%;
                @media(max-width: 767px) {
                    min-height: 330px;
                    object-fit: cover;
                }
            }
        }
        .bannerWrapper {
            position: relative;
            .bannerDetailWrapper{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .bannerDetails {
                    h1 {
                        font-size: 4.5rem;
                        margin-bottom: 4rem;
                        @media(max-width:767px){
                            font-size:3rem;
                        }
                    }
                   
                }
            }   
        }
    }
}


