.boardMemberCard{
	background-color: $white;
	/*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);*/
	border-radius: 10px;
	height: 100%;
	&.withShadow{
		box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
	}
	.Cardimage{
		img{
			width: 100%;
			border-radius: 10px 10px 0 0;
		}
	}
	.CardText{
		padding: 20px 5px;
		&.TextCenter{
			text-align: center;
		}
		.memberName{
			font-size: 1.65rem;
			margin-bottom: 0.25rem;
		}
		.memberInfo{
			display: inline-block;
			font-size: 1.5rem;
		}
	}
}