.Button{
	background-color: $base;
	border-radius: 4px;
	color: $white;
	padding: 1.3rem 4.5rem;
	border:1px solid $base;
	display: inline-block;
	text-align: center;
	font-family: $primaryFont;
	@include Ease(0.25s);
	@media(max-width: 575px){
	   
	}

	&:hover{
		background-color:transparent;
		color: $base;
		.Icon{
			fill: $base;
			transform: rotate(270deg);
		}
	}
	&.TransParentButton{
		background-color: transparent;
		color: $base;
		border: 1px solid $base;
		box-shadow: none;
		&:hover{
			background-color: $base;
			color: $white;
			.Icon{
				fill: $white;
			}
		}
		.Icon{
			width: 13px;
			height:13px;
			fill: $base;
			margin-left: 10px;
			transition: all 0.25s ease-in;
		}
	}
	&.FlexButton{
		display: flex;
		align-items: center;
		width: fit-content;
	}
	.Icon{
		width: 13px;
		height:13px;
		fill: $white;
		margin-left: 10px;
		transition: all 0.25s ease-in;
	}
}

.WhiteButton{
	background-color: $white;
	color: $base;
	&:hover{
		background-color: $base;
		color: $white;
	}
}

.BtnWrap{
	&.CenterAlign{
		text-align: center;
	}
}

