.cardSliderSection{
	@media(max-width: 991px){
		padding-bottom:10rem;
	}
	.offset-2{
		
		@media(max-width: 991px){
			margin-left: 0;
		}
	}
	.SliderHead{
		@media(max-width:1199px) and (min-width:992px){
			font-size:2.4rem;
		}
	}
	.container-fluid{
		position: relative;
		padding-right:0;
	}
	.container{
		position: relative;
	}
	.SliderHead{
		@media(max-width: 991px){
			margin-bottom: 2.8rem;
			text-align: center;
		}
	}
	.CardSlider-Col{
		position: static;
	}
	.CardSlider{
		@media(min-width: 992px){
			position: static;
		}
	}
	.slick-slide {
	    margin: 0 15px;
	    position: static;
	  }
	  .slick-list {
	    margin: 0 -15px;
	    position: static;
	  }
	  .slick-arrow{
		background: $white;
		width: 40px;
		height: 40px;
		box-shadow: 0px 5px 15px rgba(0,0,0,0.06);
		z-index: 9;
		background-repeat: no-repeat;
		background-position: center;
    	background-size: 45%;
		@include Ease(0.25s);
		@media(min-width: 481px){
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
		&:before{
			content: '';
			// color: $base;
			// font-size: 40px;
			// line-height: 10px;
		}
		&:hover{
			box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
		}
	  }
	  .slick-next{
		left: 20%;
		right: unset;
		top: 166px;
		background-image: url(../img/next-arrow.svg);
		@media(min-width: 1200px){
			top: 215px;
			left: 20%
		}
		@media(max-width: 991px){
	  		left: 93%;
	  		top: 115%;
	  	}
	  	@media(max-width: 480px){
	  		left: 87%;
	  		top: 116%;
	  	}
	  }
	  .slick-prev{
	  	left: 20%;
	  	background-image: url(../img/prev-arrow.svg);
	  	@media(min-width: 1200px){
	  		left:20%
	  	}
	  	@media(max-width: 991px){
	  		left: 83%;
	  		top: 115%;
	  	}
	  	@media(max-width: 480px){
	  		left: 72%;
	  		top: 116%;
	  	}
	  }
}