.contactUs {
    padding-bottom: 10rem;
    @media(max-width: 991px){
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .formWrapper {
        background-color: $white;
        box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
        padding: 6rem 7rem;
        border-radius: 6px;
        margin-top: -6.5rem;
        position: relative;
        @media(max-width: 991px) {
            padding: 4rem 5rem;
            margin-top: 0rem;
        }
        @media(max-width:767px) {
            margin-top: -3rem;
        }
        @media(max-width:575px) {
            padding: 3rem 2rem;
        }
        .headWrap {
            margin-bottom: 4rem;
            h1 {
                font-size: 3rem;
                @media(max-width: 991px) {
                    font-size: 2.4rem;
                    margin-bottom: 2rem;
                }
                @media(max-width:575px) {
                    font-size: 2rem;
                }
            }
            p:last-child {
                font-size: 1.8rem;
                font-weight: 700;
            }
            a {
                color: $darkBase;
                &:hover {
                    color: #038ff9;
                }
            }
            &.ContactHead{
                p{
                    font-size: 1.6rem;
                    font-weight: 400;
                }
            }
        }
        h4 {
            font-size: 1.8rem;
            font-weight: 700;
            @media(min-width: 768px) {
                margin-bottom: 2.5rem;
            }
        }
        &.MTop0{
            margin-top: 0rem;
        }
    }
    .ContactDetails{
        .GridBlock{
            background-color: $white;            
            text-align: center;
            border-radius: 10px;
            margin-top: 3rem;
            padding: 4rem 0;
            box-shadow: 0 3px 30px rgba(0,0,0,0.1);
            min-height: 162px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: 0.3s all;
            h4{
                font-size: 20px;
                color: $darkGrey;
                margin-bottom: 10px;
                transition: 0.3s all;
            }
            p{
                color: $darkGrey;
                margin-bottom: 0;
                transition: 0.3s all;
                @media(min-width: 768px){
                    font-size: 12px;
                }
                @media(min-width: 991px){
                    font-size: 16px;
                }
                a{
                    color: $darkGrey;
                    text-decoration: none;
                    transition: 0.3s all;
                }
            }
            &:hover{
                background-color: $base;
                h4,p{
                    color: $white;
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
}