footer{
  padding: 60px 0 20px;
  background-color: $darkBlue;
  color: #fbfbfb;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  h5 {
      color: $white;
      margin: 10px 0 25px;
      font-size: 18px;
      font-size: 16px;
      text-align: left;
      @media (max-width: 575px){
        margin: 25px 0 10px 0;
      }
    }
  p{
    font-size: 14px;
    line-height: 1.5;
    @media(min-width: 524px){
      text-align: left;
    }
  }
   ul{
    text-align: left;
    padding: 0;
    li {
      margin-bottom: 10px;
      display: flex;
      span.IconWrap{
        margin-right: 10px;
        img{
          width: 15px;
          height: auto;
        }
      }
      span.ContentWrap{
        p{
          font-size: 14px !important;
        }
      }
      a {
        transition: all 0.3s ease-in-out;
        display: inline-block;
        position: relative;
        color: $white;
        opacity: 0.7;
        font-size: 14px;
        &:hover{
          color: $white;
          opacity: 1;
          }
          i{
            font-size: 1.1rem;
          }
        }
      }
    }
  
} 

form{
  position: relative;
  width: 100%;
  display: flex;
  input[type="email"]{    
    padding: 15px;
    border-radius: 50px 0 0px 50px;
    width: 100%;
    border-right: transparent;
    color: $white;
    border: thin solid $white;
    background-color: transparent;
    &::placeholder{
      color: $white;
    }
    &:focus{
      outline: none;
    }

  }
  button{
    padding: 15px;
    display: flex;
    border-radius: 0 50px 50px 0;
    border: none;
    min-width: 60px;
    background-color: $orange;
    border-top: thin solid $white;
    border-right: thin solid $white;
    border-bottom: thin solid $white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover{
        opacity: 0.6;
    }
  }
  input,select{
    -webkit-border-radius:0px;
    -webkit-appearance: none;
  }
}


/*footer{
  ul{
    &.links{
      li{
        a{
          &:hover{
            transform: translate(5px, 0);
            &:after{
              opacity: 1;
              color: $white;
            }
          }
          &:after{
            font-family: 'ElegantIcons';
            content: "\24";
            position: absolute;
            margin-left: 5px;
            top: 1px;
            opacity: 0;
            transition: all 0.5s ease;
          }
        }
      }
    }
  }
} */


/*footer{
  ul{
    &.contacts{
      li{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 7px;
        @media(min-width: 524px){
          justify-content: space-between;
        }
          .IconWrap{
            width: 8%;
            text-align: left;
            @media(min-width: 524px){
              width: 12%;
            }
            i{
              font-size: 1.3rem;
            }
            img{
              vertical-align: -webkit-baseline-middle;
            }
          }
          .ContentWrap{
            width: 85%;
            a{
              font-style: 1rem;
            }
            p{
              margin-bottom: 0;
              font-style: 1rem;
              text-align: left;
            }
          }
      }
    }
  }
}*/


footer hr {
  opacity: 0.5;
}

footer{
  .FooterBottom{
    border-top: 1px solid rgba(255, 255, 255, 0.36);
    padding-top: 20px;
    margin-top: 5px;
  }
}

footer{
  #copy{
    text-align: right;
    font-size: 13px;
    font-size: 0.8125rem;
    opacity: 0.7;
    @media (max-width: 767px){
      text-align: left;
      margin: 5px 0 20px 0;
    }
  }
}

.follow_us {
  margin-top: 35px;
  animation-delay: 1.1s;
  h5{
    color: $white;
  }
  ul.SocialIcons{
    display: flex;
    margin: 0;
    li{
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 16px !important;
      font-weight: 600;
      color: $white;
      font-family: $secondaryFont;
      &:first-child{
        margin-right: 25px;
      }
      &:last-child{
        margin-right: 0px;
      }
      a{
        color: $white;
        display: flex;
        padding: 6px;
        align-items: center;
        justify-content: center;
        border: thin solid $white;
        border-radius: 50px;
        transition: 0.2s ease-in-out;
        svg{
          width: 15px;
          height: 15px;
          fill: $white;
          transition: 0.2s ease-in-out;
        }
        &:hover{
          border-color: $orange;
          svg{
            fill: $orange;
          }
        }
      }
    }
  }
}


ul#footer-selector {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
  @media(min-width: 524px){
    text-align: left;
  }
}
ul#footer-selector li {
  font-size: 14px;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  ul#footer-selector li:last-child {
    margin-top: 5px;
  }
}

/* Addtional links Footer */
ul{
  &#additional_links{
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 13px;
    font-size: 0.8125rem;
    float: right;
    @media (max-width: 991px){
      float: none;
      margin-top: 10px;
    }
    @media (max-width: 524px){
      text-align: center;
    }
    li{
      display: inline-block;
      margin-right: 0;
      span{
        color: $white;
        opacity: 0.7;
      }
      a{
        color: $white;
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}



