.contactform {
    input[type="text"],
    input[type="email"],
    textarea,input[type="number"],
    input[type="date"],input[type="time"],
    select {
        width: 100%;
        padding: 10px 10px 10px 0;
        transition: 0.2s all;
        margin-bottom: 3rem;
        border: none;
        border-radius: 0;
        -webkit-border-radius:0px;
        border-bottom: 1px solid $lightGrey;
        @media(max-width: 767px) {
            margin-top: 1rem;
            padding: 7px;
        }
        &:focus {
            outline: none;
            border-color: $base;
        }
        &::placeholder {
            color: $darkGrey;
            opacity: 0.5;
        }
        &.MBnone {
            margin-bottom: 0;
        }
    }
    label{
        color: $darkGrey;
        opacity: 0.5;
        font-size: 16px;
        display: block;
        margin-bottom: 1.5rem;
    }
    textarea{
        border:1px solid $lightGrey;
        min-height:96px;
        border-radius:6px;
        padding:10px;
    }
    .text-right {
        @media(max-width: 767px) {
            text-align: center;
        }
    }
    [type=submit] {
        cursor: pointer;
        margin-top: 3rem;
        border-radius:4px;
        @media(max-width: 767px) {
            padding: 1.5rem 4rem;
        }
    }
    .selectWrap {
        position: relative;
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 0;
            -webkit-border-radius: 0;
            appearance: none;
            background: none;
            background: url('../img/chevron-down.svg') no-repeat right;
            background-size: 15px 10px;
            color: #999;
            transition: all 0.3s ease-in-out;
            &:focus{
                color:$darkGrey;
            }
        }
    }
    input[type="date"],input[type="number"]{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        background: url('../img/chevron-down.svg') no-repeat right;
        background-size: 15px 10px;
        &:focus{
         background-image:none;
        }
    }
    input:-internal-autofill-selected{
        background-color: transparent !important;
    }
    input:-webkit-autofill {
        -webkit-text-fill-color: transparent !important;
    }
    input,select{
        -webkit-border-radius:0px;
        -webkit-appearance: none;
    }
}