.emergencySearch{
 margin-top:-74px;
 @media(max-width:767px){
 	margin-top:-30px;
 }
}
.healthProfessional{
	padding-bottom:1rem;
	@media(min-width:768px){
	padding-bottom:3rem;
    }
	.headWrap{
	  display:block;
	  text-align: center;
	  max-width:730px;
	  margin:0 auto;
	  margin-bottom:3rem;
	  h2{
	  	margin-bottom:1.5rem;
	  }
	}
	.innerContent{
		// margin-bottom:5rem;
	}
}
