.LeftImageRightContent{
	.ImageContainer{
		max-width: 95%;
		margin-left: 0;
		.imgWrap{
			padding-bottom: 100%;
			height: 0;
			position: relative;
			// background-color: #44A6F0;
			background: linear-gradient(0deg, #44A6F0 0, #1AB587 100%);
			border-radius: 5px;
			&.per58{
				padding-bottom: 58%;
			}
		}
		img{
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 20px;
			top: 20px;
			border-radius: 5px;
		}
	}
	.TextContainer{
		@media(max-width:767px){
			margin-top:4rem;
		}
		h2{
          @media(max-width:991px){
          	font-size:2.2rem;
          }
		}
		p{
			margin-bottom: 2rem;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.BtnWrap{
		margin-top: 2.8rem;
	}
}