.searcBarSection {
    margin-top: -110px;
    @media(max-width:991px){
        margin-top:-70px;
    }
    @media(max-width:767px){
        margin-top:-45px;
    }
    .searachBarWrapper {
    max-width: 970px;
    margin: 0 auto;
    background-color:$base;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    position: relative;
    border-radius: 6px;
    padding-bottom:100px;
    @media(min-width:576px){
        padding-right:115px;
        padding-bottom: 30px;
    }
    h3{
        color:$white;
        font-size:2.4rem;
        @media(max-width:575px){
            font-size:2rem;
        }
    }
        .searchInput,
        input[type="search"] {
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.60);
            -webkit-border-radius:0; 
            border-radius: 0;
            background:none;
            color:$white;
            padding: 10px;
            padding-left: 0px;
            margin-top:1.2rem;
            transition:all 0.3s ease-in-out;
            &:focus{
                border-color:$white;
            }
            &::placeholder{
            color:rgba(255, 255, 255, 0.60);
            }
        }
       /* select{
            width:100%;
        }*/
        .selectWrap {
            position: relative;
            margin-top:1.2rem;
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: none;
                border:none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.60);
                border-radius: 0;
                width: 100%;
                padding: 10px;
                padding-left: 0px;
                background: url('../img/chevron-down-white.svg') no-repeat right;
                background-size:15px 10px;
                transition:all 0.3s ease-in-out;
                color:rgba(255, 255, 255, 0.60);
                &:focus{
                    outline:none;
                    border-color:$white;
                    opacity: 1;
                    color:$white;
                }
            }
        }
        .submit_btn{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 85px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 6px 6px 0;
            @media(max-width:575px){
                top:initial;
                bottom:0;
                left:0;
                width:100%;
                height:65px;
                border-radius: 0 0 6px 6px;
            }
            input[type="submit"]{
                width:100%;
                height:100%;
                background:none;
                border:none;
                // border-radius: 0;
                cursor: pointer;
                z-index:2;
            }
            img{
                position: absolute;
                z-index:1;
                transition:all 0.3s ease-in-out;
            }
            &:hover{
             img{
                transform: scale(1.1);
             }
            }
        }
        input,select{
            -webkit-border-radius:0px;
            -webkit-appearance: none;
        }
    }
}