.singleServiceWrapper {
	.searcBarSection{
		margin-top:-75px;
	}
    .topImageBottomInfo {
        padding-bottom:2rem;
        @media(min-width:768px){
          padding-bottom: 5rem;
        }
        .headWrap {
            text-align: center;
            display: block;
            p {
                max-width: 964px;
                width: 100%;
                margin: 0 auto;
                line-height: 2.8rem;
            }
        }
    }
    .testimonialSection {
        margin: 0;
    }
    .contactUs {
        .formWrapper {
            margin: 0;
        }
    }
}