.testimonialSection {
    padding-bottom: 5rem;
    margin-top: -15%;
    @media(min-width:768px){
      padding-bottom: 8rem;
    }
    .testimonialWrapper {
        background-color: $white;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        padding:7%;
        padding-bottom:14%;
        position: relative;
        z-index: 2;
        @media(min-width:768px){
        padding: 10% 15%;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 16%;
                height: 50%;
                background:$base url('../img/white_quotes.svg') no-repeat;
                background-position: 35% 30%;
                border-radius: 0 0 100% 0;
                z-index: -1;
            }
            &::after {
                content: '';
                background:url('../img/semiEllipse.png') no-repeat;
                background-size: cover;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 33%;
                height: 60%;
                z-index: -1;
            }
        }
        h2{
            @media(max-width:767px){
                margin-bottom:2rem;
            }
        }
        .patient_info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 20px;
            h3 {
                font-size: 2.4rem;
                @media(max-width:767px){
                    font-size:1.8rem;
                }
            }
            img {
                border-radius: 50%;
            }
            .name {
                margin-left: 20px;
                small {
                    display: block;
                    font-size: 1.6rem;
                    color: $black;
                    opacity: 0.5;
                }
            }
        }
        p {
            font-size: 1.8rem;
            @media(max-width:767px){
                font-size:1.6rem;
            }
        }
        .slick-controls{
        	position: absolute;
        	right:50px;
        	bottom:50px;
        	span{
        		display: block;
        		cursor: pointer;
        		margin-bottom:5px;
        		opacity:0.5;
        		transition: opacity 0.3s ease;
	        	svg{
	        		width: 45px;
				    height: 27px;
				    fill: $white;  
	        	}
	        	&:first-child{
	        		svg{
	        			transform:rotate(180deg);
	        		}
	        	}
	        	&:hover{
                  opacity: 1;
	        	}
            }
             @media(max-width:767px){
                bottom:10px;
                right:30px;
                span{
                    display:inline-block;
                    margin-bottom: 0;
                    svg{
                        width:30px;
                        height:30px;
                        fill:$black;
                    }
                  &:first-child{
                    svg{
                        margin-right:10px;
                    }
                  }
                }
            }
        }
    }
}