.TopImageBottomTextCard{
	padding-bottom:20%;
	.MainHeading{
		padding-bottom:4rem;
	}
	.cardContainer_col{
		color: $darkGrey;
	}
	.cardContainer{
		background-color: $white;
		box-shadow: 0px 0px 35px rgba(0,0,0,0.1);
		border-radius: 5px;
		height: 100%;
		@include Ease(0.25s);
		&:hover{
			box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
			.cardImage{
				img{
					transform: scale(1.03);
				}
			}
			.cardText{
				a{
					span{
						color:$base;
					}
					svg{
						fill:$base;
						margin-left:5px;
					}
				}
			}
		}
		a{
			color: $darkGrey;
		}
		.cardImage{
			max-height: 232px;
			border-radius: 5px;
			overflow: hidden;
			img{
				border-radius: 5px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				@include Ease(0.25s);
			}
		}
		.cardText{
			padding: 20px 20px;
			a{
				display: block;
				svg{
					@include Ease(0.25s);
					width:12px;
					height:11px;
					fill:$darkGrey;
				}
		    }
		}
		.cardTitle{
			font-size: 2.2rem;
		}
	}
	.row{
		>div{
			@media(max-width:767px){
				margin-bottom:4rem;
			}
		}
	}
}