.topImageBottomInfo {
    .headWrap {
        @include FlexBetween;
        flex-direction: column;
        margin: 0 auto 4rem;
        max-width: 800px;
        text-align: center;
        @media(max-width:767px){
        	justify-content: center;
        }
    }
    .innerContent {
        position: relative;
        height: 100%;
        background-color: $white;
        border-radius: 10px;
        @include Ease(0.25s);
        @media(max-width:991px){
        	// margin-bottom: 4.5rem;
        }
        &:hover{
            background-color: $base;
            .info{
                color: $white;
                span{
                    &:last-child{
                        color: $white;
                    }
                }
                h3{
                    span{
                        margin-right: 0;
                    }
                }
            }

        }
        img {
            border-radius: 10px 10px 0 0;
            width:100%;
        }
        .info {
            padding: 20px 15px;
            @media(min-width:576px){
                min-height:140px;
                display:flex;
                flex-wrap:wrap;
            }
            h3{
                display: flex;
                justify-content: space-between;
                width: 100%;
                span{
                    width: 22px;
                    margin-right: 2rem;
                    transition: 0.3s all;
                }
            }
            h3,
            span {
                margin-bottom: 5px;
                @include Ease(0.25s);
            }
            span {
                display: block;
                @include Ease(0.25s);
                &:last-child {
                    color: $base;
                    @include Ease(0.25s);
                }
            }
        }
        .moreInfo {
            position: absolute;
            right: 15px;
            top: 15px;
            span {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: $white;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
                text-align: center;
                cursor: pointer;
                transition: 0.25s ease-in-out;
                @include FlexCenter;
                svg {
                    width: 15px;
                    height: 15px;
                    fill: $base;
                    transition: transform 0.2s ease-in-out;
                }
                &.is_active {
                    svg {
                        transform: rotate(135deg);
                    }
                }
                &:hover {
                    background-color: $base;
                    svg {
                        fill: $white;
                    }
                }
            }
            .socialConnect {
                display: none;
                ul {
                    margin: 0;
                    padding: 0;
                    li {
                        margin-top: 10px;
                        a {
                            width: 36px;
                            height: 36px;
                            background-color: $white;
                            border-radius: 50%;
                            text-align: center;
                            @include FlexCenter;
                            @include Ease(0.25s);
                            &:hover{
                               background-color: $base;
                               svg{
                                fill: $white;
                               } 
                            }
                            svg {
                                fill: $base;
                                width: 14px;
                                height: 14px;
                                @include Ease(0.25s);
                            }
                        }
                    }
                }
            }
        }
    }
}