* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
  scroll-behavior: smooth;
}
body {
  font: 400 16px/1.4 $primaryFont;
  color: $darkGrey;
  // transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
  padding: 0;
  margin: 0;
	overflow-x: hidden;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
  font-family: $secondaryFont;
  &.NormalFont {
    font-weight: 400;
  }
}


h1 {
  font-size: 3.5rem;
  @media(min-width: 768px){
    font-size: 4.0rem;
  }
}

h2 {
  font-size: 2.5rem;
  @media screen and (min-width: 991px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6{
  font-size: 1rem;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

button:active,button:focus{
border:none;
outline: none;
}
input:active,input:focus{
outline: none;
}
a:focus,a:active{
  outline:none;
}
.HeadingWrapper{
  padding-bottom: 3rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.linkColor{
  color: $base;
  transition: all 0.25s ease-in;
  &:hover{
    color: darken($base, 15%);
  }
}
.alignItemCenter{
  align-items: center;
}
.alignSelfCenter{
  align-self: center;
}
.order-2-md{
  @media(max-width:767px){
    order:2;
  }
}
.FontSize3{
  font-size: 3rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  &.Width100 {
    width: 100%;
  }
}

.DesktopOnly{
  display: none;
  @media (min-width: 768px) {
      display: block;
    }
}

.MobileOnly{
  display: block;
  @media (min-width: 768px) {
      display: none;
    }
}

.MobileSpaceOnly {
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.DesktopBanner{
  display: none;
  @media (min-width: 501px) {
      display: block;
    }
}

.MobileBanner{
  display: block;
  @media (min-width: 501px) {
      display: none;
    }
}
.d-block{
  display: block;
}
.CenterText {
  text-align: center;
}

.SubHeading {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Pt40 {
  padding-top: 40px;
}

.Pb40 {
  padding-bottom: 5rem;
}

.MBottom2{
  margin-bottom: 2rem;
}

.MBottom3{
  margin-bottom: 3rem;
}

.MTop3{
  margin-top: 1.5rem;
  @media(max-width: 767px){
    margin-top: 3rem;
  }
}

.OnlyT3{
  margin-top: 0rem;
  @media(max-width: 767px){
    margin-top: 3rem;
  }
}

.MBottom4{
  margin-bottom: 4rem;
}

.BGWhite{
  background-color: $white;
}

.greySection{
  background-color:$greySection;
}


.MainHeading{
  text-align: center;
  padding-bottom: 2rem;
  &.PBottom22{
    padding-bottom: 2rem;
  }
  &:last-child{
    padding-bottom: 0;
  }
  h2{
    margin-bottom: 0;
    color: $darkGrey;
  }
  p{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 0;
    line-height: 1.6;
    &:first-of-type{
      margin-top: 1rem;
    }
  }
  &.LeftAlign{
    text-align: left;
  }
  &.LeftRightHeadind{
    max-width: 100%;
    display: block;
    justify-content: space-between;
    align-items: flex-end;
    @media(min-width: 768px){
      display: flex;
    }
    .LeftPart{
      
      flex: 0 0 65%;
      @media(min-width: 768px){
        text-align: left;
      }
      h2{
        margin: 0;
      }

    }
    .RightPart{
      padding-top: 15px;
      @media(min-width: 768px){
        padding-bottom: 5px;
        padding-top: 0;
      }
    }
  }
}

.SecondColFirstInMobile{
  @media(max-width: 767px){
    flex-direction: column-reverse;
  }
}

.MaxWidth500{
  max-width: 500px !important;
}

.PTB3{
  padding: 2rem 0;
  @media(min-width: 768px){
    padding: 3rem 0;
  }
}

.PBottom3{
  padding-bottom: 3rem !important;
}
.PBottom4{
  padding-bottom: 4rem !important;
}

.Section.PBottom4{
  @media(max-width: 991px){
    padding-bottom: 2rem !important;
  }
}