$base : #1ab587;
$greenbase: #458e69;
$darkBase: #44a6f0;
$yellow: #EF8900;
$red: #CE1C28;
$black: #000;
$lightBlack: #191818;
$white: #fff;
$grey: #666666;
$darkGrey: #333333;
$lightGrey: #ccc;
$smokeWhite:#eee;
$lightgerGray: #707070;
$greySection: #f6f6f6;
$lightPink: #FFF5EB;

$primaryFont: 'Lato', sans-serif;
$secondaryFont:'Graphik', sans-serif;
