@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/MuseoSans-light.otf"); 
}
@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MuseoSans-medium.otf"); 
}
@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/MuseoSans-semibold.otf"); 
}
@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/MuseoSans-bold.otf"); 
}


@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GraphikLight.otf"); 
}
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GraphikRegular.otf.otf"); 
}
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/GraphikSemibold.otf"); 
}
@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/whitney-boldsc.otf"); 
}

/*Graphik Fonts for headings*/
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Black.woff2') format('woff2'),
        url('../fonts/Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Bold.woff2') format('woff2'),
        url('../fonts/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Semibold.woff2') format('woff2'),
        url('../fonts/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Medium.woff2') format('woff2'),
        url('../fonts/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

